<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--框架必需start-->
<link th:href="@{/static/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="@{/admin/css/londinium-theme.min.css" rel="stylesheet" type="text/css"/>
<link href="@{/pages/admin/css/styles.min.css" rel="stylesheet" type="text/css"/>
<link href="@{/admin/css/icons.min.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="@{/admin/js/jquery.min.js"/></script>
<script type="text/javascript" src="@{/admin/js/plugins/interface/collapsible.min.js"/></script>
<script type="text/javascript" src="@{/admin/js/bootstrap.min.js"/></script>
<script type="text/javascript" src="@{/admin/js/application.js"/></script>
<script type="text/javascript" src="@{/js/checkForm.js"></script>
<!--框架必需end-->


<!--引入弹窗组件start-->
<script type="text/javascript" src="@{/js/artDialog/jquery.artDialog.source.js?skin=chrome"></script>
<script type="text/javascript" src="@{/js/artDialog/artDialog.iframeTools.js" /></script>
<script type="text/javascript" src="@{/js/dialog.js" /></script>
</head>
</html>
<!--引入弹窗组件end-->
